In [3]:
import pandas as pd
import numpy as np
from collections import Counter

In [4]:
chocolate = pd.read_csv('data/chocolate.csv')
chocolate

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,1205,Habitual,Canada,2014,Blend,one hundred,100%,NaN,"unrefined, bitter, earthy",2.00
1,701,Haigh,Australia,2011,Blend,South America and Africa,70%,NaN,"vanilla, chocolate milk",3.00
2,1113,Hotel Chocolat,U.K.,2013,St. Lucia,"Island Growers, 2012, 120hr c., batch 13080",100%,NaN,"pastey, bitter, unfixable",1.75
3,296,Hotel Chocolat (Coppeneur),U.K.,2008,Uganda,Uganda,80%,NaN,"charred, espresso",2.50
4,552,Hotel Chocolat (Coppeneur),U.K.,2010,Ecuador,Ecuador,70%,NaN,"spicy, sour, burning",2.75
...,...,...,...,...,...,...,...,...,...,...
1555,336,Bonnat,France,2009,Peru,"Porcelana, Apotequil",75%,"3- B,S,C","flat, bread, earthy",2.75
1556,331,Bonnat,France,2009,Ivory Coast,Ivory Coast,75%,"3- B,S,C","oily, intense cocoa, sl. Burnt",3.00
1557,336,Bonnat,France,2009,Mexico,"Porcelana, Tabasco, Marfil de Blanco",75%,"3- B,S,C","mild bitter, nut, possible mold",3.00
1558,395,Bonnat,France,2009,Mexico,"Xoconusco, cacao Real",75%,"3- B,S,C","fatty, roasty, earthy",3.00
1559,761,Bonnat,France,2011,Jamaica,Jamaique,75%,"3- B,S,C","oily, creamy, woody",3.25

In [9]:
import re
lst = []
for i in chocolate["Cocoa Percent"].tolist():
    lst.append(float(re.sub('%', '', i)))
lst
chocolate['percent_mean'] = lst
chocolate['percent_median'] = lst

chocolate

company_cocoa_percent = chocolate.groupby('Company (Manufacturer)').agg({'percent_mean':'mean', 'percent_median':'median'})
#df.groupby('col1').agg({'col2': 'max', 'col3': 'min'})

In [13]:
company_cocoa_percent.sort_values(by=['percent_mean'], ascending=False).head(20)

                                percent_mean  percent_median
Company (Manufacturer)
Pacari                            100.000000          100.00
Coppeneur                         100.000000          100.00
TCHO                               99.000000           99.00
Bouga Cacao (Tulicorp)             88.500000           88.50
Pralus                             87.500000           87.50
Claudio Corallo                    86.750000           86.75
Nanea                              85.000000           85.00
Chocolate Alchemist-Philly         85.000000           85.00
Hotel Chocolat (Coppeneur)         84.888889           82.00
Vintage Plantations (Tulicorp)     82.500000           82.50
Peppalo                            82.000000           82.00
Durand                             82.000000           82.00
Belyzium                           81.333333           83.00
To'ak (Ecuatoriana)                81.000000           81.00
Hotel Chocolat                     80.000000           70.00
Enric Rovira (Claudio Corallo)     80.000000           80.00
L'Amourette                        80.000000           80.00
Eclat (Fruition)                   80.000000           80.00
Pomm (aka Dead Dog)                79.000000           79.00
Wilkie's Organic                   78.500000           75.00

In [60]:
def country_common_charac(chocolate_df, country_name):
    chocolate_country = chocolate_df[chocolate_df['Company Location'] == country_name][["Ingredients"]]
    charac_lst = chocolate_country['Ingredients'].tolist()
    lst = []
    #for i in np.arange(len(charac_lst)):
    #    charac_lst[i] = charac_lst[i].split(', ')

    #for i in charac_lst:
    #    for j in i:
    #        lst.append(j)

    dic = Counter(charac_lst)
    return pd.DataFrame(dic.items(), columns=['characteristics', 'frequency']).sort_values(by=['frequency'], ascending=False)

In [64]:
country_common_charac(chocolate, "Australia")

  characteristics  frequency
2        3- B,S,C         27
1          2- B,S          5
0             NaN          2

In [12]:
chocolate_canada = chocolate[chocolate['Company Location'] == "Canada"][["Most Memorable Characteristics"]]
chocolate_canada

     Most Memorable Characteristics
0         unrefined, bitter, earthy
71    rustic,sweet, brownie, banana
72             oily, citrus, orange
90             creamy, tart, bitter
91          floral, bourbon, bitter
...                             ...
1384     cinamon, nutmeg, hot cocoa
1404       dried fig, earthy, dirty
1405  burnt black licorice, intense
1406              savory lemon, ham
1471       roasted strawberry, bold

[146 rows x 1 columns]

In [27]:
lst = []
charac_lst = chocolate_canada['Most Memorable Characteristics'].tolist()
charac_lst

for i in np.arange(len(charac_lst)):
    charac_lst[i] = charac_lst[i].split(', ')
charac_lst
for i in charac_lst:
    for j in i:
        lst.append(j)
lst
dic = Counter(lst)
pd.DataFrame(dic.items(), columns=['characteristics', 'frequency']).sort_values(by=['frequency'], ascending=False)

        characteristics  frequency
9                creamy         16
2                earthy         15
19                nutty         15
16                cocoa         13
14               roasty         13
..                  ...        ...
82           long,cocoa          1
80            cardboard          1
79              XL nibs          1
78             cherries          1
177  roasted strawberry          1

[178 rows x 2 columns]

In [13]:
charac_canada = pd.DataFrame(chocolate_canada['Most Memorable Characteristics'].tolist(),
                  columns=[''])
charac_canada_vectorize = pd.get_dummies(charac_canada)
#state_column_name = state_vectorize.columns.tolist()

In [14]:
charac_canada_vectorize

,"_XL nibs, sour, cardboard","_balanced, nuts, strawberry","_banana, nutty","_basic chocolate, accessible","_basic cocoa, gateway",_black tea,"_black tea, floral","_bland, sour, lacks development","_bold, fig w/ floral undertone","_bold, nutty, floral, wine",...,"_tart, sweet, sour, savory","_uneven, grassy, roasty","_unrefined, bitter, earthy","_vanilla, chemical, rubber","_very sandy, spicey, sweet","_vinegar, sour","_waxy, earthy, cocoa, roasty","_waxy, maple, flat","_woody, floral, metallic","_woody, sweet, unrefined"
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
142,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
143,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
144,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0